<ion-view class="home-view">
  <ion-nav-title>
    <span>Home</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="view-content" ng-cloak>
  	<div ng-if="notifications.length > 0">
      <p class="heading">Latest Notification</p>
      <div class="list card no_margin">
        <a href="#" class="item" ng-repeat="item in notifications">
          <h2 ng-bind="item.name_value_list.name.value"></h2>
          <p ng-bind="item.name_value_list.description.value"></p>
        </a>
      </div>
      <br>
    </div>
    <div ng-if="upcomingSession.length > 0">
      <p class="heading">Upcoming Sessions</p>
      <div class="list card no_margin">
        <a href="#" class="item" ng-repeat="item in upcomingSession">
          <h2 ng-bind="item.name.value"></h2>
          <p>{{item.dateStart}} at {{item.time_start}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
